.photosPopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f1f2e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  width: 90%;
  max-width: 500px;
  text-align: center;
  overflow-y: auto;
  max-height: 500px;
  color: #fff;
}

.photosPopup ul::-webkit-scrollbar {
  width: 8px;
}

.photosPopup ul::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 4px;
}

.photosPopup ul::-webkit-scrollbar-thumb:hover {
  background-color: #e5b800;
}

.photosInput {
  padding: 8px;
  border: 1px solid #ffd700;
  border-radius: 4px;
  width: calc(50% - 10px);
  background-color: #282846;
  color: #fff;
}

.photosAddButton {
  padding: 8px 12px;
  background-color: #fff;
  color: #1f1f2e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 3px;
}

.photosAddButton:hover {
  background-color: #e5b800;
}

.photosPopup ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ffd700;
  border-radius: 4px;
  background-color: #282846;

}

.photosPopup li {
  margin: 10px 0;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #1f1f2e;
  color: #fff;
}

.photosPopup li:last-child {
  border-bottom: none;
}


.photoCard {
  justify-content: space-between;
  display: flex;
  border: 2px solid #ffd700;
  border-radius: 4px;
  overflow: hidden;
  background-color: #1f1f2e;
  color: #fff;
}

.photoCardActions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  color: #fff;
}

.photoCardActions button {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  background-color: #f0b90b;
  border: none;
  color: #000;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px 10px 10px 0;
  padding: 0;
}

.photosPopup input,
.photosPopup textarea {
  width: calc(100% - 24px);
  padding: 10px;
  margin: 5px auto;
  border: 1px solid #ffd700;
  border-radius: 4px;
  background-color: #282846;
  color: #fff;

}
